<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services</title>
</head>  
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>Service offered by scm</h2>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, distinctio tenetur. Modi, architecto tempora voluptate atque necessitatibus optio et iste, temporibus culpa recusandae corrupti officia laboriosam rem maxime eveniet ullam.
    </section>
    <!-- <script>
        console.log("services page")
    </script> -->
</body>
</html>